{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}{{ header|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <dialog id="multi-cart-dialog" class="multi-cart-dialog">
        <form method="dialog">
            <p>Do you want to remove this cart?</p>
            <div class="options">
                <button>Cancel</button>
                <button id="deleteConfirmBtn">Confirm</button>
            </div>
        </form>
    </dialog>
    {% if cart.customer == null %}
        {% if not cart.empty %}
            {{ sylius_template_event('sylius.shop.cart.header', {'header': header, 'cart': cart}) }}
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    {{ sylius_template_event('sylius.shop.cart.items', {'cart': cart, 'form': form}) }}
                </div>
                <div class="five wide column">
                    {{ sylius_template_event('sylius.shop.cart.summary', {'cart': cart}) }}
                </div>
            </div>
            {{ sylius_template_event('sylius.shop.cart.suggestions', {'cart': cart}) }}
        {% else %}
            {{ messages.info('sylius.ui.your_cart_is_empty') }}
        {% endif %}
    {% else %}
        {% if not cart.empty %}
            {{ sylius_template_event('sylius.shop.cart.header', {'header': header, 'cart': cart}) }}

            <div id="multi-cart" class="multi-cart">
                    {{ render(url('bit_bag_sylius_multi_cart_plugin_show_carts_summary')) }}
            </div>
            <div id="summary-items" class="ui stackable grid">
                {{ render(url('bit_bag_sylius_multi_cart_plugin_shop_cart_item')) }}
                {{ render(url('bit_bag_sylius_multi_cart_plugin_shop_cart_total')) }}
            </div>
            {{ sylius_template_event('sylius.shop.cart.suggestions', {'cart': cart}) }}
        {% else %}
            {{ sylius_template_event('sylius.shop.cart.header', {'header': header, 'cart': cart}) }}
            <div id="multi-cart" class="multi-cart">
                {{ render(url('bit_bag_sylius_multi_cart_plugin_show_carts_summary')) }}
            </div>
            <div id="summary-items" class="ui stackable grid">
            </div>
            {{ messages.info('sylius.ui.your_cart_is_empty') }}
        {% endif %}
    {% endif %}
{% endblock %}
