<div class="row">
    {% for cart in carts %}
        {% set isActive = cart.cartNumber == customer.activeCart %}
        <div class="ui buttons">
            <div class="ui {% if isActive == true %}primary{% endif %} button change-cart"
                 data-url-change="{{ path('bit_bag_sylius_multi_cart_plugin_change_active_cart', { 'cartNumber': cart.cartNumber }) }}"
                 data-url-update="{{ path('bit_bag_sylius_multi_cart_plugin_ajax_cart_content') }}">
                {{ cart.cartNumber }}
            </div>
            {% if isActive == false %}
                <div class="ui red button delete-cart"
                     data-url-delete="{{ path('bit_bag_sylius_multi_cart_plugin_delete_cart', { 'cartNumber': cart.cartNumber }) }}">
                    X
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <div id="new-cart-button"
         class="ui green button"
         data-url-new="{{ path('bit_bag_sylius_multi_cart_plugin_new_cart') }}">
        New
    </div>
</div>
